                                                                  <!DOCTYPE html>
<html>
<head>
  <title>CRM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if current_user %>
  <nav class='navbar navbar-inverse navbar-fixed-top'>
    <div class='container'>
      <a class='navbar-brand' href='/dashboard'>CRM</a>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
          </ul>
        </li>
        <li><a href="/users">Users</a></li>
      </ul>
      <div class='pull-right'>
        <%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user), class: 'navbar-text' %>
        <%= link_to "Sign Out", sign_out_path, class: 'navbar-text' %>
      </div>
    </div>
  </nav>

  <div class='container'>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}", class: "alert alert-#{name}" %>
    <% end %>
  </div>

  <div class=container>
  <br />
  <body class= 'body'>
    <div class=row>
      <div class="col-md-3">
        <div class="well">
            <h3>Leads</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
            <h3>Opportunities</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
            <h3>Merchants</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
            <h3>Tasks</h3>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>

  <footer class= 'container'>
    <hr />
    <div class= 'text-center'>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'About', about_path %> |
      <%= link_to 'Terms', terms_path %> |
      <%= link_to 'FAQ', faq_path %>
    </div>
  </footer>
<% end %>
</html>
